{% extends 'base.twig' %} {% block content %}
<main>
  {# Affichage des champs ACF #}
  <section class="w-full bg-lightBg">
    <div
      class="mx-auto py-20 max-w-screen-2xl flex lg:flex-row items-stretch justify-between gap-0">
      <div
        class="lg:w-[50%] min-h-full text-primary flex flex-col justify-center space-y-4">
        <span class="font-oswald uppercase text-secondary text-3xl">{{
          acf.sous_titre_section
        }}</span>

        <h1 class="font-poppins font-light text-primary text-4xl">
          {{ acf.titre_section }}
        </h1>
      </div>
      <div class="lg:w-[50%] min-h-full">
        <div class="font-poppins font-light text-md text-base">
          {{ acf.description_section }}
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
